body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0c69c;
  margin: 0;
  padding: 40px;
}

h1 {
  text-align: center;
  color: #333;
}

h3{
    font-size: 25px;
    text-align: center;
    color: #333;
}

.tabela-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.botao-adicionar {
  background-color: #72bab0;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.botao-adicionar:hover {
  background-color: #27413d;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #72bab0;
  color: white;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Estilo dos botões de ação */
.botao {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.botao.editar {
  background-color: #522d2d;
  color: #fff;
}

.botao.editar:hover {
  background-color: #301a1a;
}

.botao.excluir {
  background-color: #cc123d;
  color: #fff;
}

.botao.excluir:hover {
  background-color: #9e0e30;
}

/* Responsividade */
@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead {
    display: none;
  }

  td {
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  td::before {
    position: absolute;
    left: 15px;
    top: 12px;
    font-weight: bold;
    color: #333;
    content: attr(data-label);
  }
}


.formulario-container {
  max-width: 900px;
  margin: 0 auto 30px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.formulario-container h2 {
  margin-top: 0;
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
}

.campo-formulario {
  margin-bottom: 15px;
}

.campo-formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
}

.campo-formulario input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}


